data_signals:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: asbwzpt-stackadapt_pa        # e.g. xy12345.us-east-1
      user: YOUR_USER
      password: YOUR_PASSWORD      # or use authenticator: externalbrowser for SSO
      # authenticator: externalbrowser 
      role: YOUR_ROLE
      database: YOUR_DATABASE
      warehouse: YOUR_WAREHOUSE
      schema: DBT_DEV
      threads: 4
